<table id="companies-datatable" class="table table-striped table-hover table-bordered" data-source="<%= companies_url(format: "json") %>">
  <thead>
  <tr>
    <th class='index_column' data-class='expand'>Name</th>
    <th>Address</th>
    <th>Zip</th>
    <th>City</th>
    <th>Website</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
